---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=City%20of%20denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f917000010000015db19d868d6e41f8a2ea8fa923a5e2cd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19992'
      X-Ratelimit-Reset:
      - '1649129028'
      X-Server:
      - anteater
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":3943882,"width":5669,"height":3779,"url":"https://www.pexels.com/photo/woman-sitting-on-luggage-3943882/","photographer":"Anna
        Shvets","photographer_url":"https://www.pexels.com/@shvetsa","photographer_id":1984515,"avg_color":"#505142","src":{"original":"https://images.pexels.com/photos/3943882/pexels-photo-3943882.jpeg","large2x":"https://images.pexels.com/photos/3943882/pexels-photo-3943882.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/3943882/pexels-photo-3943882.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/3943882/pexels-photo-3943882.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/3943882/pexels-photo-3943882.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/3943882/pexels-photo-3943882.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/3943882/pexels-photo-3943882.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/3943882/pexels-photo-3943882.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Woman
        Sitting on Luggage"}],"total_results":8000,"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=City+of+denver%2Cco"}'
  recorded_at: Tue, 08 Mar 2022 18:56:56 GMT
recorded_with: VCR 6.0.0
