---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_id>&exclude=current,minutely,daily,alerts&lat=34.052223&lon=-118.243355&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.0522,"lon":-118.2434,"timezone":"America/Los_Angeles","timezone_offset":-28800,"hourly":[{"dt":1646762400,"temp":67.01,"feels_like":64.35,"pressure":1021,"humidity":20,"dew_point":25.5,"uvi":3.67,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":185,"wind_gust":2.62,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1646766000,"temp":67.57,"feels_like":65.07,"pressure":1021,"humidity":22,"dew_point":27.95,"uvi":4.86,"clouds":0,"visibility":10000,"wind_speed":4.7,"wind_deg":208,"wind_gust":4.23,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1646769600,"temp":67.8,"feels_like":65.17,"pressure":1021,"humidity":19,"dew_point":25,"uvi":5.22,"clouds":0,"visibility":10000,"wind_speed":5.97,"wind_deg":221,"wind_gust":4.97,"weather":[{"id":800,"main":"Cle[...]
