---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_id>&exclude=current,minutely,daily,alerts&lat=34.052223&lon=-118.243355&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.0522,"lon":-118.2434,"timezone":"America/Los_Angeles","timezone_offset":-28800,"hourly":[{"dt":1646758800,"temp":63.27,"feels_like":60.51,"pressure":1022,"humidity":26,"dew_point":28.33,"uvi":2.29,"clouds":0,"visibility":10000,"wind_speed":0.54,"wind_deg":358,"wind_gust":1.5,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1646762400,"temp":63.55,"feels_like":60.69,"pressure":1022,"humidity":23,"dew_point":25.92,"uvi":3.78,"clouds":0,"visibility":10000,"wind_speed":2.35,"wind_deg":222,"wind_gust":2.37,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1646766000,"temp":64.74,"feels_like":61.86,"pressure":1022,"humidity":20,"dew_point":23.83,"uvi":4.95,"clouds":0,"visibility":10000,"wind_speed":4.85,"wind_deg":225,"wind_gust":4.45,"weather":[{"id":800,"main"[...]
